body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url('./images/dark\ background.JPG');
  background-size: cover;
  color: white;
}

h1 {
  font-size: 4vh;
  margin: auto;
}

h2 {
  font-size: 3vh;
  margin: auto;
}

.text {
  font-weight: 700;
  color: rgb(240, 189, 4);
}

.recipeText {
  font-size: 3vh;
  font-weight: 700;
}

.App {
  text-align: center;
}

.output {
  margin-top: 5vh;
  margin-left: 10vw;
}

form {
  margin-top: 5vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  min-width: 150px;
}

.inputField {
  margin-bottom: 10px;
}

main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
